<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/materialize.min.js"></script>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#c1262c">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body>
    <a id="skip-to-content" class="visually-hidden" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <nav class="nav-wrapper">
          <ul id="nav-mobile" style="width:100%;display: flex;">
            <li>
                <a href="{{ site.url }}">
                    <svg style="width: 1.8em;fill: #fff;transform: translateY(33%);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.329 69.665"><path d="M14.658 44.265v-18.6H0v18.6A18.334 18.334 0 0 0 9.181 60.14l16.484 9.525V52.73L16.51 47.44a3.615 3.615 0 0 1-1.852-3.175"/><path d="M25.638 62.336l16.51-9.525c5.662-3.281 9.181-9.34 9.181-15.875V0H25.665v14.658h10.98v22.251a3.676 3.676 0 0 1-1.826 3.175l-9.154 5.292v16.96zM25.638 0L0 25.665h25.638z"/></svg>
                </a>
            </li>
            <li class="spacer"></li>
            {% include menu.html class="hide-on-med-and-down" %}
            <details class="dropdown hide-on-large-only">
              <summary class="valign-wrapper" aria-haspopup="menu"><i class="material-icons">menu</i></summary>
              <ul class="sidenav">
                {% include menu.html %}
              </ul>
            </details>
          </ul>

      </nav>
      <!--<h1 class="">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
    </header>


    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <footer class="page-footer brown lighten-2">
      <div class="footer-copyright">
        <div class="container">
          {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}">Страница</a> проекта {{ site.github.repository_name }} на Гитхабе.
          {% else %}
            © Local Copyright Text
          {% endif %}
          <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
      </div>
    </footer>
  </body>
</html>
